body {
    height: 1010px;
    
 
   text-align:center;
    color:orange;
    background-image: url('../images/plane.jpg');
    background-repeat: no-repeat;
    background-size: cover;
 /* background-size:contain; */
 background-position:center;
 }
 
 .jumbotron text center{
    color:yellow;
 
 }
 
 .services{
    color:white;
 }
  #text{
      border: 2px;
      border-color: white;
  }
  .jumbotron{
      background-color: white;
      opacity: 0.9;
  }